 body
{
  background-color: #f1d1d1;

}
 h1{
  color : #00a1ab;
}
 h2{
  color : #00a1ab;

}

 h2{
  color : #00a1ab;

}
p
{
  color: #120136;
}
 hr{

border-style: dotted none none ;
 width : 10%;
border-color: grey;
border-width: 5px;
}
